<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Django Girls Blog</a></h1>
        </header>
        <div>
            <table border="1">
                <tr>
                    <th>Author</th>
                    <th>Title</th>
                    <th>Text</th>
                </tr>
                {%  for pp in p %}
                <tr>
                    <td>{{pp.author}}</td>
                    <td>{{pp.title}}</td>
                    <td>{{pp.text}}</td>
                </tr>
                {%  endfor  %}
            </table>
             
        </div>
    </body>
</html>