{% block content %}
<div id="map" style="height: 600px; width: 1300px"></div>


<!-- for that dolar sign and ajax to work -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> 
<!--  for that dolar sign and ajax to work -->




<!-- Include the Leaflet library -->
<link
  rel="stylesheet"
  href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
  integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
  crossorigin=""
/>
<script
  src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
  integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
  crossorigin=""
></script>
<!-- Include the Leaflet library -->



<!-- L is imported from leaflet.js -->
<script>
  var map = L.map("map").setView([51.505, -0.09], 13);
  L.tileLayer("https://tile.openstreetmap.org/{z}/{x}/{y}.png", {
    maxZoom: 19,
    attribution:
      '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
  }).addTo(map);


 /*    myLocationMarker      */
 
 var myLocationMarker;

// ligne hathi : Get the user's current location
if ("geolocation" in navigator) {
  navigator.geolocation.getCurrentPosition(onLocationSuccess, onLocationError);
}

// Function to handle successful retrieval of current location
function onLocationSuccess(position) {
  var lat = position.coords.latitude;
  var lng = position.coords.longitude;

  // Remove the existing marker for your location if it exists
  if (myLocationMarker) {
    map.removeLayer(myLocationMarker);
  }

  // Create a marker for your location and add it to the map
  myLocationMarker = L.marker([lat, lng]).addTo(map);
  myLocationMarker.bindPopup("Your Location");

  // Center the map on your location
  map.setView([lat, lng], 13);
}

// Function to handle errors in retrieving current location
function onLocationError(error) {
  console.log("Error retrieving location: " + error.message);
}
 /*     myLocationMarker        */






  // ligne hathi bich thawel le objet json le objet javascript avec conversion des caracteres speciaux
  var markers = JSON.parse("{{ markers|escapejs }}");

  
  for (var i = 0; i < markers.length; i++) {
    var marker = markers[i].fields;
    var latLngString = marker.location.match(/\(([^)]+)\)/)[1];
    console.log(marker.location);
    var [lng, lat] = latLngString.split(" ");
    //  ligne hathi ta3mel : Create a marker and add it to the map
    var markerLayer = L.marker([lat, lng]).addTo(map);
    // ligne hathi ki nenzel 3al localisation yokhrog ism le blassa fel ecran 
    markerLayer.bindPopup(marker.name);
  }

  
  map.on("click", function (e) {
    //  ligne hathi : Get the latitude and longitude of the clicked location
    var lat = e.latlng.lat;
    var lng = e.latlng.lng;

    // ligne hathi biha najem nfetchi ism le marker
    var geocodingUrl =
      "https://nominatim.openstreetmap.org/reverse?lat=" +
      lat +
      "&lon=" +
      lng +
      "&format=json";

    $.ajax({
      url: geocodingUrl,
      type: "GET",
      success: function (data) {
        // Extract the place name from the response
        var placeName = data.display_name;
        console.log(placeName);

        // Create a marker and add it to the map
        var marker = L.marker([lat, lng]).addTo(map);

        // Create the marker data object with the fetched place name
        var markerData = {
          name: placeName,
          location: "POINT(" + lng + " " + lat + ")",
        };

        

        // Send the marker data to the server using AJAX
        $.ajax({
          url: "{% url 'save_marker' %}",
          type: "POST",
          headers: {
            "X-CSRFToken": "{{ csrf_token }}",
          },
          data: JSON.stringify(markerData),
          success: function () {
            console.log("Marker saved successfully");
          },
          error: function () {
            console.log("Error saving marker");
          },
        });
      },
      error: function () {
        console.log("Error retrieving place name");
      },
    });
  });
</script>
{% endblock %}
